*.aps
*.ncb
*.db
*.opensdf
*.opendb
*.sdf
*.cfg
*.cachefile
x64/
Win32/
mtTorrent/x64/
mtTorrent/Win32/
DebugStandalone/
mtTorrent/DebugStandalone/
.vs/
test/
SdkExample/x64/
SdkExample/Win32/
mtTorrentLiteGui/x64/
mtTorrentLiteGui/Win32/
out/